<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold is mine</title>
</head>
<body>
    <h1>Gold is mine!</h1>
    <p>
        <a href="/predict">알아보자!</a>
        <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/c108feec-4678-4a41-bf64-2ea91cacb5f1/page/cpKwC" frameborder="0" style="border:0" allowfullscreen></iframe>
    </p>
</body>
</html>